@model Blood_Donation_Management_System.Models.DonorModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.DonorName</h2>

<ul>


<li> @Model.DonorName</li>
<li> @Model.DonorAddress</li>
<li>@Model.Email</li>
</ul>


